<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Strona domowa</title>
</head>

<body>

<div id="main" class="container">
    <span style="font-size: 30pt">
        Strona główna<br>

    </span>


    <form th:method="POST" th:object="${trasa}">
        <fieldset>

            <h1>Wybierz jaką trasę chcesz przebyć</h1>

            <label>Wybierz skąd:</label>
            <div class="form-group blu-margin">
                <select class="form-control" name="ulicaSkad" id="ulicaSkad">
                    <option value="0"></option>
                    <option th:each="ulica : ${ulice}" th:value="${ulica}" th:text="${ulica}"></option>
                </select>
            </div>

            <br>
            <label>Wybierz dokąd:</label>
            <div class="form-group blu-margin">
                <select class="form-control" name="ulicaDokad" id="ulicaDokad">
                    <option value="0"></option>
                    <option th:each="ulica : ${ulice}" th:value="${ulica}" th:text="${ulica}"></option>
                </select>
            </div>

            <br>
            <label>Wybierz środek transportu:</label>
            <div class="form-group blu-margin">

                <div>
                    <input type="radio" id="samochod" name="transport" value="samochod" checked>
                    <label for="samochod">Najtańsza trasa - przejazd samochód</label>
                </div>

                <div>
                    <input type="radio" id="autobus" name="transport" value="autobus">
                    <label for="autobus">Najtańsza trasa - przejazd autobus</label>
                </div>

                <div>
                    <input type="radio" id="pieszo" name="transport" value="pieszo">
                    <label for="pieszo">Najkrótsza trasa(metry)</label>
                </div>

                <div>
                    <input type="radio" id="wszystko" name="transport" value="wszystko">
                    <label for="pieszo">Pokaż trasy względem czasu</label>
                </div>

            </div>

            <br>

            <button type="submit" class="btn btn-primary btn-raised">Pokaż trase</button>
        </fieldset>
    </form>

    <div th:if="${wyszukanie.equals('wszystko')}">
        <fieldset>
            <h2>Wszystkie trasy według czasu:</h2>

            <span th:each="v : ${values}">

                 <span th:if="${v} == 'Pieszo: -> '"><br></span>
                <span th:if="${v} == 'Autobus: -> '"><br></span>
                <span th:if="${v} == 'Samochód: -> '"><br></span>
                <span th:text="${v}"></span>
                <span th:if="${v} <= '100000000'"> minut </span>

            </span>
        </fieldset>
    </div>

    <div th:if="${wyszukanie.equals('pieszo')}">
        <fieldset>
            <h2>Najkrótszą trasą będzie:</h2>

            <span th:each="v : ${values}">
                <span th:if="${v} <= '100000000'"> -> </span>
                <span th:text="${v}"></span>
                <span th:if="${v} <= '100000000'"> metrów </span>

            </span>
        </fieldset>
    </div>

    <div th:if="${wyszukanie.equals('autobus')}">
        <fieldset>
            <h2>Najtańszą trasą autobusową będzie:</h2>

            <span th:each="v : ${values}">
                <span th:if="${v} <= '100000000'"> -> </span>
                <span th:text="${v}"></span>
                <span th:if="${v} <= '100000000'"> zł </span>
            </span>

        </fieldset>
    </div>

    <div th:if="${wyszukanie.equals('samochod')}">
        <fieldset>
            <h2>Najszybszą trasą samochodową będzie:</h2>

            <span th:each="v : ${values}">
                <span th:if="${v} <= '100000000'"> -> </span>
                <span th:text="${v}"></span>
                <span th:if="${v} <= '100000000'"> zł </span>

            </span>

            </table>
        </fieldset>
    </div>


</div>

</body>
</html>